<div class="row">

        <div class="col-md-4" style="font-size:20px">
          <p><%= link_to(job.title,job_path(job)) %></p>
        </div>


          <div class="col-md-4">
            <i class="fa fa-jpy fa-md" aria-hidden="true" style="color:#FF6F00"></i>
            <%= job.wage_lower_bound %> ~ <%= job.wage_upper_bound %>
          </div>

          <div class="col-md-4">
            <span>
              <i class="fa fa-calendar" aria-hidden="true" style="color:#FF6F00"></i>
              <%= job.created_at %> 发布
            </span>
          </div>
</div>
<hr>
