<!-- <div class="container-fluid">
  <div class="row">
    <div class="jumbotron">
      <h1 class="title">24K Offer</h1>
      <p class="slogan">
       你的每一份努力，都值得高薪回报
      </p>
      <p class="lead"><a href="/jobs" class="btn btn-lg btn-danger">马上应征</a></p>
    </div>
  </div>
</div> -->

<!-- Add this css File in head tag-->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
<link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">

<!--
       If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
       Slide effect: slide, fade
       Text Align: slide_style_center, slide_style_left, slide_style_right
       Add Text Animation: https://daneden.github.io/animate.css/
       -->
<div class="row">
  <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

   <!-- Indicators -->
  <div class="row">
     <ol class="carousel-indicators">
         <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
         <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
         <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
     </ol>
  </div>

   <!-- Wrapper For Slides -->
   <div class="carousel-inner" role="listbox">

       <!-- Third Slide -->
       <div class="item active">

           <!-- Slide Background -->
           <img src="http://oon3erbcp.bkt.clouddn.com/tu-1.jpg" alt="工作室"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>

           <div class="container">
               <div class="row">
                   <!-- Slide Text Layer -->
                   <div class="slide-text slide_style_center">
                     <h1 data-animation="animated zoomInRight">让您手作时有一个好的环境</h1>
                     <br>
                     <a href="/jobs"  class="btn btn-warning" data-animation="animated fadeInLeft">马上加入</a>
                   </div>
               </div>
           </div>
       </div>
       <!-- End of Slide -->

       <!-- Second Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="http://oon3erbcp.bkt.clouddn.com/tu-2.jpg" alt="皮鞋"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>
           <!-- Slide Text Layer -->
           <div class="slide-text slide_style_center">
             <h1 data-animation="animated flipInX">让您的手工皮具有更多的人喜欢</h1>
             <br>
             <a href="/jobs" class="btn btn-warning" data-animation="animated fadeInUp">马上加入</a>
           </div>
       </div>
       <!-- End of Slide -->

       <!-- Third Slide -->
       <div class="item">

           <!-- Slide Background -->
           <img src="http://oon3erbcp.bkt.clouddn.com/tu-3.jpg" alt="团队"  class="slide-image"/>
           <div class="bs-slider-overlay"></div>
           <!-- Slide Text Layer -->
           <div class="slide-text slide_style_center">
             <h1 data-animation="animated zoomInLeft">让您与伙伴们一起成长</h1>
             <br>
             <a href="/jobs" class="btn btn-warning" data-animation="animated fadeInLeft">马上加入</a>
           </div>
       </div>
       <!-- End of Slide -->


   </div><!-- End of Wrapper For Slides -->

   <!-- Left Control -->
   <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
       <span class="fa fa-angle-left" aria-hidden="true"></span>
       <span class="sr-only">Previous</span>
   </a>

   <!-- Right Control -->
   <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
       <span class="fa fa-angle-right" aria-hidden="true"></span>
       <span class="sr-only">Next</span>
   </a>

  </div> <!-- End  bootstrap-touch-slider Slider -->
</div>

<section id="company">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-31.png" alt="search" class = "img-thumbnail">
          <div class="caption">
            <h3>北京朝阳建外SOHO</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-43-48.png" alt="bid" class = "img-thumbnail">
          <div class="caption">
            <h3>info@18koffer.com</h3>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="http://fullstack-public.oss-cn-qingdao.aliyuncs.com/2017-04-15-Screenshot%20at%20Apr%2015%2021-44-00.png" alt="heart" class = "img-thumbnail">
          <div class="caption">
            <h3>010-12344321</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!-- Script to Activate the Carousel -->
    <!-- <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })

    $('#bootstrap-touch-slider').bsTouchSlider();

    </script>

   <script>
    $(document).ready(function () {
    $('.material-button-toggle').click(function () {
        $(this).toggleClass('open');
        $('.option').toggleClass('scale-on');
    });
   });
  </script> -->
