<footer class="footer">
  <p class="text-center">
    <br>Design by
    <a href="http://yixiu-blog.logdown.com" target=_new>一休</a>|
    <a href="https://github.com/qiuyixiu/job-listing" class="fa fa-github fa-x" target=_new></a>
  </p>
</footer>
